<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseType" value="SqlServer" />
    <add key="ConnectionString" value="server=.\MSSQLSERVER08;uid=sa;pwd=123;database=siteserver" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="30" />
    <trace enabled="false" requestLimit="1000" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation defaultLanguage="C#" debug="false" />
  </system.web>
  <system.webServer>
    <modules>
    </modules>
  </system.webServer>
</configuration>