<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<stl:include file="@/include/title.html"></stl:include>
</head>

<body>
<stl:include file="@/include/head.html"></stl:include>


<div id="banner2">
</div><!--banner2 end-->
<div id="container2" class="width1002 marA clearfix">
    <stl:include file="@/include/left.html"></stl:include><!--leftPart end-->
    <div id="rightPart" class="fr oh">
        <h2 class="f16 color-black"><stl:channel></stl:channel></h2>
        <div class="articleBox">
            <div class="padB10 title">
              <h1 class="f18 tc normal">&nbsp;</h1>
              <h1 class="f18 tc normal"><stl:content type="Title"></stl:content></h1>
              <div class="tc releaseTime"><stl:content type="AddDate"></stl:content></div>
          </div>
            <div class="oh con">

              <p class="em2"><stl:content type="Content"></stl:content></p>
          </div>  
            <div class="oh shareBox">
              <div class="fl oh share">
               <!-- <span class="fl vm marR10">分享到：</span>
                -->
                
                <!-- JiaThis Button BEGIN -->

<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1393991009764538" charset="utf-8"></script>
<!-- JiaThis Button END -->
              
                </div>
            </div>  
        </div>
                        
    </div><!--rightPart end-->    
</div><!--container end-->
    <stl:include file="@/include/foot.html"></stl:include>
</body>
</html>
